h1 {
    padding-top: 20px;
}

.buttons {
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.tableHead {
    font-weight: bolder;
    text-align: center;
}
.tableBody {
    font-size: small;
}

#tableButtons {
    !important;
    width: 100%;
}