{% extends 'layout.html' %}
{% block head %}
    <link rel="stylesheet" href="../static/css/home_page.css">
{% endblock %}

{% block body %}
    <section class="intro">
        A long time ago, in a galaxy far,<br> far away...<br>
        ...actually Codecool's Web module<br> 5th week...
    </section>
    <div id="board">
        <div id="content">
            <p id="title">PROJECT</p>
            <p id="subtitle">API Wars</p>
            <br>
            <p>C-3PO, the friendly humanoid protocol droid has a meeting with an awesome developer. This developer is
                asked to create a website, to list all the places C-3PO visited over the years.
                In the meantime R2D2 is spending time with BB-8 and the mentors of Codecool.</p>
        </div>
    </div>
{% endblock %}
