{% extends 'layout.html' %}

{% block head %}
{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h1>Star Wars universe planets</h1>
        </div>
        <div class="buttons">
            <button type="button" class="btn btn-info" id="previous">Previous</button>
            <button type="button" class="btn btn-secondary" id="next">Next</button>
        </div>
        <div>
            <table class="table table-bordered" id="table">
                <thead class="tableHead">
                <tr>
                    <td>Name</td>
                    <td>Diameter</td>
                    <td>Climate</td>
                    <td>Terrain</td>
                    <td>Surface Water Percentage</td>
                    <td>Population</td>
                    <td>Residents</td>
                    <td></td>
                </tr>
                </thead>
                <tbody class="textSize">
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal-overlay">
        <div class="modal-container">
            <div class="modal-header">
                <h5 class="modal-title">Residents</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <table class="table table-small textSize">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Height</th>
                        <th>Mass</th>
                        <th>Hair color</th>
                        <th>Skin color</th>
                        <th>Eye color</th>
                        <th>Birth year</th>
                        <th>Gender</th>
                    </tr>
                    </thead>
                    <tbody class="tableBodyResidents"></tbody>
                </table>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        </div>
    </div>

{% endblock %}